<div class="alcool-rate">
  <% if alcool_rate == 0 %>
    <div class="alert alert-success" id="rate-status" role="alert" style="text-align: center">
      <strong> <h2>Alcohol rate <%= alcool_rate %> g/l <br>
      🎉 FANTASTIC! You can drive ! </h2></strong>
    </div>
  <% elsif alcool_rate < 0.5 %>
    <div class="alert alert-warning" id="rate-status" role="alert" style="text-align: center">
      <strong> <h2>Alcohol rate <%= alcool_rate %> g/l. Sober in <%= @time_to_dedrunk%> Drive safely ! </h2></strong>
      <p> Great, You're still a respectable person !!! You can drive. but, be careful !</p>
    </div
  <% else %>
    <div class="alert alert-danger" id="rate-status" role="alert" style="text-align: center">
      <strong> <h2>Alcohol rate <%= alcool_rate %> g/l.  STOP !YOU CANNOT DRIVE OR TEXT YOUR EX!
      Sober in <%= @time_to_dedrunk%> </h2></strong>
    </div>
    <% end %>
</div>
