
<div class="new-container">
  <h1>New Party</h1>
    <%= simple_form_for(@party) do |f| %>
     <div class="p-2 bd-highlight party-name">
      <%= f.input :name,
                  label: "Party Name" %>
      </div>

  <div class="p-2 bd-highlight add-friend">
    <%= f.input :user_ids,
                  as: :check_boxes,
                  collection: current_user.friends.map { |e| [e.full_name, e.id] },
                  label: "Add your friend",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
  </div>

   <div class="submit-btn">


       <%= f.submit %>
      <% end %>
    </div>
     <%= link_to "Back", dashboard_path, class: "btn btn-green" %>
</div>
