<div class="show-container" data-controller="party-subscription" data-party-subscription-party-id-value="<%= @party.id %>">

  <%= render 'alcool_rate', alcool_rate: @alcool_rate %>

  <div class="show-modals" data-controller="beverages">
    <!-- button link to Modal 1 -->
    <button type="button" class="btn-drunked " id="add-drink-btn" data-bs-toggle="modal" data-bs-target="#addADrinkModal">
      Add a drink
    </button>

    <!-- Modal 1 -->
    <div class="modal fade" id="addADrinkModal" tabindex="-1" aria-labelledby="addADrinkModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addADrinkModalLabel">Choose a drink</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div>
              <%= simple_form_for @beverage, data: { beverages_target: 'form', action: 'submit->beverages#send' } do |f| %>
                <%= f.input :drink_id, collection: Drink.all, label_method: :label_drink, value_method: :id, include_blank: 'Select a drink', required: true, input_html: { data: { action: 'change->beverages#select' } } %>
                <%= f.input :meeting_id, as: :hidden, input_html: { value: @meeting.id } %>
                <%= f.submit "Add your drink", disabled: true, class: "btn-drunked", data: { beverages_target: 'button' } %>
              <% end %>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" id="details-drinks-modal" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>Details of my drink list: </strong>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body" data-beverages-target='list'>
                    <%= render '/beverages/list', { beverages: @meeting.beverages, editable: true } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Participants --->

    <div class= "sous-title">
      <h2><%= "Participants" %></h2>
    </div>
    <div class="my-buddies" data-party-subscription-target = "list">
      <%= render 'beverages/buddy', users: @party.users, party: @party %>
    </div>

    <!--button link to Modal 2--->
    <button type="button" class="list-parties" id="end-party-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      End the party !
    </button>

    <!-- Modal 2 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">consumption summary</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
            <div class="accordion-body" data-beverages-target='list'>
              <%= render '/beverages/list', { beverages: @meeting.beverages, editable: false } %>
            </div>
            <%= render 'alcool_rate', is_in_modal: true %>
          </div>
          <div class="modal-footer">
            <%= link_to "End a party", dashboard_path, class: "btn-drunked btn-to-end" %>
            <%= link_to "Order an Uber", "http://www.uber.com", class: "btn btn-uber" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- fermeture container -->
</div>
