<div class="show-container">
  <div class="graph-show">
    <p>Bientôt, un vrai graph ici... Si Dieu le veut !</p>
    <%= image_tag('graph.png') %>
  </div>

  <div class="alcool-rate">
    <h1>Alcohol rate <%= @rate %> g/l </h1>
      <% if @rate == 0 %>
      <p>  FANTASTIC !!! You can drive !</p>
      <% elsif @rate < 0.5 %>
      <p>  You are a respectable person !!! You can still drive !</p>
      <% else %>
       <p> STOP ! YOU CANNOT DRIVE OR TEXT YOUR EX !</p>
      <% end %>
  </div>

<!-- button link to Modal 1 -->
  <button type="button" class="btn btn-primary add-drink-btn" data-bs-toggle="modal" data-bs-target="#addADrinkModal">
    Add a drink
  </button>

  <!-- Modal 1 -->
  <div class="modal fade" id="addADrinkModal" tabindex="-1" aria-labelledby="addADrinkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addADrinkModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="search-form-control form-group mb-5">
            <%= simple_form_for @beverage do |f| %>
              <%= f.input :drink_id, collection: Drink.all, label_method: :label_drink, value_method: :id %>
              <%= f.input :meeting_id, as: :hidden, input_html: { value: @meeting.id } %>
              <%= f.submit "Select your drink", class: "btn btn-flat" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- button link to Modal 2 -->
  <button type="button" class="btn btn-primary add-drink-btn" data-bs-toggle="modal" data-bs-target="#addADrinkModal2">
    My drinks
  </button>

  <!-- Modal 1 -->
  <div class="modal fade" id="addADrinkModal2" tabindex="-1" aria-labelledby="addADrinkModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addADrinkModalLabel2">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong>Details of my drink list: </strong>
          <%= render '/drinks/list', drinks: @meeting.drinks %>
        </div>
      </div>
    </div>
  </div>


  <div class="my-friends-title mb-3">
    <h2>My friends</h2>
  </div>
  <div class="my-buddies">
      <% array = ["rd-purple", "rd-pink", "rd-yellow", "rd-blue", "rd-acqua", "rd-red", "rd-orange", "rd-blue-clr"] %>
      <% colors = array.sample(current_user.friendships.count)%>
      <% current_user.friendships.each_with_index do |friendship, index| %>
       <div class = "round-buddy <%= colors[index] %>"  >
         <%= friendship.user_two.initials %>
        </div>
      <% end %>
  </div>
</div>
