<<<<<<< HEAD
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a drink
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="search-form-control form-group mb-5">
          <%= form_tag party_path(@party), method: :get do %>
            <%= text_field_tag :query, params[:query], class: 'form-control string required', placeholder: "Find your drink" %>
            <%= submit_tag "Select your drink", class: "btn btn-flat" %>
          <% end %>
        </div>


        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                My drinks
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Details of my drink list</strong>
              </div>
            </div>
          </div>
        </div>

        <%= render '/drinks/list', drinks: Drink.all %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
=======
</h1><%= "la show de la party qui vient d'etre crée"%><h1>
>>>>>>> 7d6daef1e5b452d1cf9bdbe87c53d250d9bb1d75
