<div class="show-container">
  <%= render 'alcool_rate', alcool_rate: @alcool_rate %>

  <div class=Show-modal data-controller="beverages">
    <!-- button link to Modal 1 -->
    <button type="button" class="btn-drunked " id="add-drink-btn" data-bs-toggle="modal" data-bs-target="#addADrinkModal">
      Add a drink
    </button>

    <!-- Modal 1 -->
    <div class="modal fade" id="addADrinkModal" tabindex="-1" aria-labelledby="addADrinkModalLabel" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addADrinkModalLabel">Choose a drink</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="search-form-control form-group mb-5">
              <%= simple_form_for @beverage, data: { beverages_target: 'form', action: 'submit->beverages#send' } do |f| %>
                <%= f.input :drink_id, collection: Drink.all, label_method: :label_drink, value_method: :id, include_blank: 'Select a drink', required: true, input_html: { data: { action: 'change->beverages#select' } } %>
                <%= f.input :meeting_id, as: :hidden, input_html: { value: @meeting.id } %>
                <%= f.submit "Select your drink", disabled: true, class: "btn btn-flat", data: { beverages_target: 'button' } %>
              <% end %>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <strong>Details of my drink list: </strong>
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body" data-beverages-target='list'>
                    <%= render '/beverages/list', beverages: @meeting.beverages %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Prendre uniquement les buddies selectionnés + indiquer leurs taux--->

    <div class= "sous-title">
      <h2><%= "My drinking buddies" %></h2>
    </div>

    <div class="my-buddies">
      <% array = ["rd-purple", "rd-pink", "rd-corail", "rd-blue", "rd-acqua", "rd-red", "rd-orange", "rd-blue-clr"] %>
      <% colors = array.sample(@party.users.count)%>
      <% @party.users.each_with_index do |friendship, index| %>
        <div class = "round-buddy <%= colors[index] %>" >
          <% if friendship.photo.attached?%>
            <%= cl_image_tag friendship.photo.key, height: 100, width: 100, crop: :fill %>
          <% else %>
            <%= friendship.initials %>
          <% end %>
        </div>
      <% end %>
    </div>



    <!-- Modal 2 end the party -->


    <!--End Party button--->
    <div>
      <button type="button" class="btn-drunked" id="end-party-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        End the party !
      </button>


      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">consumption summary:</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          <!-- Modal 2 end the party details-->

            <div class="modal-body" >


              <div class="accordion-body" data-beverages-target='list'>
                <%= render '/beverages/list', beverages: @meeting.beverages %>
              </div>
              <% if @alcool_rate == 0 %>
                <div class="alert alert-success" id="rate-status" role="alert">
                  <strong> <h2> your alcohol rate is <%= @alcool_rate %> g/l </h2></strong>
                  <span> 🎉 FANTASTIC !!! You can drive !</span>
                </div>
              <% elsif @alcool_rate < 0.5 %>
                <div class="alert alert-warning" id="rate-status" role="alert">
                  <strong> <h2>Alcohol rate <%= @alcool_rate %> g/l, You'll be sober in <%= @time_to_dedrunk%></h2></strong>
                  <span> Great, You're still a respectable person !!! You can drive. but, be careful ! You'll be sober in <%= @time_to_dedrunk %> </span>
                </div>
              <% else %>
                <div class="alert alert-danger" id="rate-status" role="alert">
                  <strong> <h2>Alcohol rate <%= @alcool_rate %> g/l, You'll be sober in <%= @time_to_dedrunk%> </h2></strong>
                  <span> <strong> STOP ! </strong>
                  PLEASE, BE CAREFUL ! Your alcohol rate is high. You can not drive
                  for the moment. It is highly recommanded to wait (...attente methode...) minutes or order a uber.
                  Otherwise, let's pray God and let Him decide for what happen next. </span>
                </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <%= link_to "End a party", dashboard_path, class: "btn btn-flat" %>
              <%= link_to "Order an Uber", "http://www.uber.com", class: "btn btn-gradient" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- fermeture container -->
</div>
