<h1>SELECT YOUR FRIENDS</h1>

<%= form_tag add_friends_path, method: :get do |f| %>
  <% @users.each do |user| %>
     <% if current_user.friends.include? user %>
      <%= label_tag user do %>
      <%= user.full_name %>
      <%= check_box_tag "users[]", user.id, checked = true %>
      <% end %>
      <% else %>
      <%= label_tag user do %>
      <%= user.full_name %>
      <%= check_box_tag "users[]", user.id, checked = false %>
      <% end %>
    <% end %>
  <% end %>
  <%= submit_tag "Save" %>
<% end %>
<%= link_to "Back", dashboard_path %>
