<div class= "container" >
  <div class= "parties">
    <div class= "sous-title">
      <h2> My last Parties </h2>
    </div>
    <div class="baner-dash">
      <div class="text-baner">
        <% current_user.parties.last(3).each do |party| %>
        <h5><%= link_to party.name, party_path(party) %></h5>
          <% end %>
      </div>
    </div>
    </div>
  </div>

  <div class= "sous-title">
    <h2><%= "My drinking buddies" %></h2>
  </div>
  <div class="my-buddies">
    <% array = ["rd-purple", "rd-pink", "rd-yellow", "rd-blue", "rd-acqua", "rd-red", "rd-orange", "rd-blue-clr"] %>
    <% colors = array.sample(current_user.friendships.count)%>
    <% current_user.friendships.each_with_index do |friendship, index| %>
      <div class = "round-buddy <%= colors[index] %>" >
        <%= friendship.user_two.initials %>
      </div>
    <% end %>
  </div>

<div class= "sous-title">
  <h2><%= "My bagdes" %></h2>
</div>
<%= image_tag("badgey.png", {class: "badgey-icon"}) %>
<%= image_tag("badgey.png", {class: "badgey-icon"}) %>
<%= image_tag("badgey.png", {class: "badgey-icon"}) %>


<div class= "btn-create-party">
  <%= link_to "Create a party", new_party_path, class: "btn-drunked btn-big" %>
</div>
