<div class= "container custom-container" >
  <div class= "parties">
    <div class= "sous-title">
      <h2> My last parties </h2>
    </div>
    <div class= "last-parties">
      <div class="link">
        <% current_user.parties.last(3).each do |party| %>
          <h5 class="d-flex align-items-center">
            <%= link_to party.name, party_path(party) %>
          </h5>
        <% end %>
      </div>
    </div>
    </div>


  <div class= "sous-title">
    <h2><%= "My drinking buddies" %></h2>
  </div>
  <div class="my-buddies">
    <% array = ["rd-purple", "rd-pink", "rd-corail", "rd-blue", "rd-acqua", "rd-red", "rd-orange", "rd-blue-clr"] %>
    <% colors = array.sample(current_user.friendships.count)%>
    <% current_user.friendships.each_with_index do |friendship, index| %>
      <div class = "round-buddy <%= colors[index] %>" >
        <% if friendship.user_two.photo.attached?%>
          <%= cl_image_tag friendship.user_two.photo.key, height: 100, width: 100, crop: :fill %>
        <% else %>
          <%= friendship.user_two.initials %>
        <% end %>


      </div>
    <% end %>
    <div class="round-buddy-2">
    <%= link_to "+", new_friendship_path %>
    </div>
  </div>



  <div class= "btn-create-party">
    <%= link_to "Let's party !", new_party_path, class: "btn-drunked btn-big" %>
  </div>

 </div>
